services:
  - docker


jobs:
  include:
    - stage: test
      script:
        - docker build --target test --tag devops-starter:test0.1 .
        - docker run --mount type=bind,source="$(pwd)",target=/app --env TRELLO_KEY --env TRELLO_TKN --env TRELLO_BOARD devops-starter:test0.1 .
    - stage: build-tag-push
      if: branch = master
      script:
        - echo "$DOCKER_PASS" | docker login --username georgefrancis --password-stdin
        - docker build --target production --tag georgefrancis/devops-starter:"$TRAVIS_COMMIT" .
        - docker tag georgefrancis/devops-starter:"$TRAVIS_COMMIT" georgefrancis/devops-starter:latest
        - docker push georgefrancis/devops-starter:"$TRAVIS_COMMIT"
        - docker push georgefrancis/devops-starter:latest
        - echo "$HEROKU_TKN" | docker login --username=_ --password-stdin registry.heroku.com
        - docker tag georgefrancis/devops-starter:"$TRAVIS_COMMIT" registry.heroku.com/gsf-devops-mod8/web
        - docker push registry.heroku.com/gsf-devops-mod8/web
        - heroku container:release web --app=gsf-devops-mod8