services:
  - docker

script:
  - echo "$TEST_ECHO"
  - docker build --target test --tag georgefrancis:test0.1 .
  - docker run --mount type=bind,source="$(pwd)",target=/app --env TRELLO_KEY --env TRELLO_TKN --env TRELLO_BOARD georgefrancis:test0.1 .