{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
    <div class="list">
        <h3>To-Do</h3>
      <ul class="list-group mb-4">
          {% for item in v_model.items_todo %}
              <li>{{ item.name }} - {{ item.status }}<form action="/completeditem" method="post">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <button type="submit">Done!</button>
              </form>
              </li>
          {% endfor %}
      </ul>
    </div>
    <div class="list">
        <h3>Doing</h3>
    <ul class="list-group mb-4">
          {% for item in v_model.items_doing %}
              <li>{{ item.name }} - {{ item.status }}<form action="/completeditem" method="post">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <button type="submit">Done!</button>
              </form>
              </li>
          {% endfor %}
      </ul>
    </div>
    <div class="list">
        <h3>Done</h3>
    <ul class="list-group mb-4">
          {% for item in v_model.done_most_recent %}
              <li>{{ item.name }} - {{ item.status }}<form action="/completeditem" method="post">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <button type="submit">Done!</button>
              </form>
              </li>
          {% endfor %}
      </ul>
    </div>
    <details>
    <summary>Older Items</summary>
    <div class="list">
    <ul class="list-group mb-4">
          {% for item in v_model.older_done_items %}
              <li>{{ item.name }} - {{ item.status }}<form action="/completeditem" method="post">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <button type="submit">Done!</button>
              </form>
              </li>
          {% endfor %}
      </ul>
    </div>
    </details>
    <form action="/add-list-item" method="post">
        <input type="text" id="new_card_textbox" name="new_card_textbox">
        <button type="submit">Add a new item!</button>
    </form>
    </div>
  </div>
{% endblock %}